body,td,th{font:16px/1.875 Arial,"microsoft yahei",Helvetica,sans-serif;}
body{background-color:#fff;}
.g-wrap{width:980px;margin:0 auto;}

/* section title元件 */
.u-stit{margin-bottom:30px;text-align:center;}
.u-stit h2{margin-bottom:8px;font-size:32px;line-height:40px;color:#333;}
.u-stit p{font-size:25px;line-height:35px;color:#999;}

/* 实践项目 */
.m-project{padding:40px 0 60px;}
.m-project .left{width:560px;}
.m-project .tit p{text-indent:15px;font-size:20px;line-height:30px;}
.m-project .tit:before,.m-project .end{content:'';position:absolute;width:16px;height:16px;margin:7px 0 0 -6px;border-radius:50%;background-color:#3498db;}
.m-project .desc{padding:15px 15px 30px;border-left:3px solid #ddd;}
.m-project .desc p{color:#666;}
.m-project .edu .desc p{overflow:hidden;height:150px;text-indent:20px;}
.m-project .link{margin-top:8px;text-align:right;}
.m-project .link a{margin-right:40px;color:#39a030;}
.m-project .link a:hover{text-decoration:underline;}
.m-project .right{width:400px;height:220px;margin-top:10px;}
.m-project .ykt ul{margin:10px 0 0 20px;color:#999;}
.m-project .components{margin-left:20px;}
.m-project .components li{padding:15px 30px 0 0;}
.m-project .components .about{text-indent:30px;}
.m-project .components li+li{border-top:1px solid #ccc;}
.m-project .comp .desc{padding-bottom:15px;}

/* 底部 */
.m-ft{padding:20px 0;background-color:#f8f8f8;}
.m-ft .info{margin-right:50px;font-size:14px;color:#999;}
.m-ft .info span{color:#08c;}
