/* css reset */
body,div,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,i,strong,th,var,optgroup{font-style:normal;font-weight:normal;}
ul,ol{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:"";}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
pre{white-space:pre-wrap;word-wrap:break-word;}
a{cursor:pointer;text-decoration:none;}
a img{border-width:0;vertical-align:middle;}
table{border-collapse:collapse;border:none;padding:0;margin:0;}
textarea{resize:none;}
input[type=text]:focus,input[type=submit]:focus,input[type=password]:focus,textarea:focus{outline:none;}
input,button{border:0;outline:0;}
:-moz-placeholder{color:#ccc !important}
::-moz-placeholder{color:#ccc !important}
:-ms-input-placeholder{color:#ccc !important}
:-webkit-input-placeholder{color:#ccc !important}
::-ms-clear{display:none;}
::-ms-reveal{display:none;}
/* 常用功能 */
.thide{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.f-cb{zoom:1;}
.f-cb:after{content:"";display:block;clear:both;visibility:hidden;height:0;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pa{position:absolute;}
.f-pr{position:relative;}
.f-ib{display:inline-block;}
.hidetx{text-indent:-9999px;}
.hide{display:none;}
.novisi{visibility:hidden;}
/*页面有transition时,fix定位出现抖动,原因不明,但加上transform可以解决*/
.f-pf{position:fixed;transform:translate3d(0,0,0);}
.f-over{overflow:hidden;}